@import url("__triangle/kaufman__triangle.css");

.kaufman {
  position: relative;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  padding-top: 90px;
}

